* {
    box-sizing: border-box;
    border-radius: 25px;
}

body {
    font-family: "Comic Sans MS";
    padding: 10px;
    background: black;

}

.header {
    padding: 35px;
    text-align: center;
    background: #000000;
    background-image: radial-gradient(circle, black, black, green);
}


.topnav {
    overflow: hidden;
    background-color: #000000;
    text-align: center;
    height: 35px;
    padding: 5px;

}

.topnav a {
    float: center;
    color: #189c17;
    padding: 50px 50px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #189c17;
    color: #000000;
}

.rowleft {
    float: left;
    width: 100%;
}

.rowright {
    float: left;
    width: 95%;

}
.card a {
    text-align: center;
    display: block;
    text-decoration: none;
    color: #f2f2f2;
}

.card a:hover {
    background-color: #000000;
    color: #189c17
}


.card {
    background-color: #0e0e0e;
    color: #9bf292;
    padding: 20px;
    margin-top: 35px;
    box-shadow: 15px 15px 10px green;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #189c17;
    margin-top: 50px;
}


@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}


@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #212121;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(24, 156, 23, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.desc {
    padding: 15px;
    text-align: center;
}
